<section class="relative flex w-full h-[70vh] md:h-screen bg-bg-bienvenida bg-cover bg-center justify-center items-center m-auto p-4">
    <div class="absolute inset-0 bg-black opacity-60 z-0"></div>
    <div class="flex flex-col justify-center items-center text-center relative z-10">
      <h1 class="text-slate-50 text-3xl md:text-4xl lg:text-6xl">
        <span class="text-5xl md:text-6xl lg:text-8xl text-sky-700">Repaso</span>
        <br> Teoría programación
        <br>
        <span class="text-yellow-600">Python</span>
      </h1>
      <p class="text-white text-sm md:text-base lg:text-1xl flex w-full md:w-[400px] m-4 p-4 md:m-10 md:p-10 bg-slate-900 opacity-90 rounded-md">
        En este documento encontraras el tipo de función y la teoría relacionada con el mismo.
      </p>
    </div>
  </section>