
---
import { todasLasFunciones } from '../data/funciones.ts'
---

<section class="py-8 px-4 bg-black">
    <div class="max-w-4xl mx-auto">
        <h2 class="text-2xl font-bold mb-4 text-blue-500 text-center">DOCUMENTACION DE <span class="text-yellow-600 ">PYTHON</span></h2>
        <ul class="space-y-4">
            {todasLasFunciones.map((funcion) => (
                <li class="bg-gray-900 p-6 rounded-lg shadow-lg">
                    <h3 class="text-xl font-semibold text-gray-100">{funcion.funcion}</h3>
                    <p class="mt-2 text-gray-400">{funcion.descripcion}</p>
                    <pre class="mt-4 p-4 bg-gray-800 items-center flex rounded overflow-x-auto">
                        <code class="font-mono text-green-400">{funcion.ejemplo}</code>
                    </pre>
                </li>
            ))}
        </ul>
    </div>
</section>
