---
import Python from '../components/icons/Python.astro'
---
<nav class="w-full h-14 bg-[#000000] opacity-80 flex items-center px-5 shadow-md">
    <div class="flex-1">
        <a href="#" class="">
            <Python/>
        </a>
    </div>
    <ul class="flex gap-5 mr-5">
        <li>
            <a href="Inicio" class=" flex py-2 px-4 bg-sky-900 text-yellow-500 rounded-xl hover:opacity-100 hover:text-yellow-200 hover:scale-105 transition-all duration-300">Inicio</a>
        </li>
        <li>
            <a href="Ejemplos" class="flex py-2 px-4 bg-sky-900 text-yellow-500 rounded-xl hover:opacity-100 hover:text-yellow-200 hover:scale-105 transition-all duration-300">Ejemplos</a>
        </li>
        <li>
            <a href="Doc" class="flex py-2 px-4 bg-sky-900 text-yellow-500 rounded-xl hover:opacity-100 hover:text-yellow-200 hover:scale-105 transition-all duration-300">Doc</a>
        </li>
    </ul>
</nav>
